{% extends "::layout.html.twig" %}

{% block title %}
  Oeuvres - {{ parent() }}
{% endblock %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h4>Consulter les livres et DVD disponibles. Possibilité de réserver en ligne.</h4>

  <hr>

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block ms_gestionbibliotheque_body %}
  {% endblock %}

{% endblock %}