/* Deb. définition disposition générale de la page */
/* TODO: tester pour autres affichages*/
header {
	color: #777;
}
.body_main {
	margin-top: 90px;
	color: #555;
}

.container {
	padding-bottom: 15px;
}

.indent {
	margin-left: 50px;
}

#menu_gauche {
	margin-top: 15px;
}
/* Fin. définition disposition générale de la page */

/* Deb. définition block navigation haut */
.navbar-brand {
	font-size: 28px;
}
.sous-titre {
	margin-left: 0px;
}
.welcome {
	min-width: 120px;
}
.welcome-user {
	margin-top: 10px;
}

.user-profil {
	color: gray;
}

.form-inline {
	margin-top: 10px;
}

.menu-consult-search {
	min-width: 400px;
}
/* Fin. définition block navigation haut */