<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Bibliothèque du temps libre{% endblock %}</title>

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  {% endblock %}
</head>

<body>
  <div class="container">
    <div id="header" class="jumbotron">
      <h1>Bibliothèque Le Temps Libre</h1>
      <p>
        Consultation des oeuvres (livres, DVD) et gestion des vos réservations
      </p>
    </div>

    <div class="row">
      <div id="menu" class="col-md-3">
        <h3>Les oeuvres</h3>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('ms_gestion_bibliotheque_home') }}">Accueil</a></li>
          <li><a href="">Rechercher une oeuvre (non actif)</a></li>
        </ul>

        <h4>Gestion des réservations</h4>
		<ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('ms_gestion_bibliotheque_reservations_index') }}">Consulter vos réservations</a></li>
          <li><a href="{{ path('ms_gestion_bibliotheque_reservations_add') }}">Ajouter une réservation</a></li>
        </ul>
      </div>
      <div id="content" class="col-md-9">
        {% block body %}
        {% endblock %}
      </div>
    </div>

    <hr>

    <footer>
      <p>Dernière édition du site : {{ 'now'|date('Y') }}.</p>
    </footer>
  </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>