<html>
    <head>
    	<meta charset="UTF-8">
    	<title>Bienvenue sur ma deuxième page avec OpenClassrooms !</title>
    </head>
    <body>
    	<h1>Bye bye {{ nom }}, à bientôt !</h1>
    </body>
</html>