{% extends "MSGestionBibliothequeBundle::layout.html.twig" %}

{% block title %}
  Enregistrement de l'adherent (ajouts et modifications) - {{ parent() }}
{% endblock %}

{% block g2_ms_gestionbibliotheque_body %}
<div class="well search_form_div row">
  <div class="col s6 offset-s3">
  	  <h1 class="header teal-text text-lighten-2">Ajout / Modification des caractéristiques de l'adhérent</h1>
  	  <p>L'opération s'est correctement effectuée</p>
  </div>
</div>
{% endblock %}