{% extends "MSGestionBibliothequeBundle::layout.html.twig" %}

{% block title %}
  Ajouter une réservation - {{ parent() }}
{% endblock %}

{% block ms_gestionbibliotheque_body %}

  <h2>Ajouter une réservation</h2>

  {{ include("MSGestionBibliothequeBundle:Reservation:form.html.twig") }}

  <p>
    Cette réservation sera consultable directement
    dans votre liste de réservations après validation du formulaire.
  </p>
  
  <p>
    <a href="{{ path('ms_gestion_bibliotheque_reservations_index') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour
    </a>
  </p>

{% endblock %}