{% extends "MSGestionBibliothequeBundle::layout.html.twig" %}

{% block title %}
  Votre liste d'emprunts - {{ parent() }}
{% endblock %}

{% block g2_ms_gestionbibliotheque_body %}
{% if not is_granted('ROLE_ADHERENT') %}
	<p class="btn-warning"><em>L'accès à cette page n'est pas autorisé aux adhérents non connectés.</em></p><br /><br />
{% endif %}

{% if is_granted('ROLE_ADHERENT') %}
  <h2>Problème de réservation</h2>
  <div>
  	<p class="btn-warning">{{ message }}</p>
  </div>
{% endif %}
{% endblock %}